/* global styles */
/* why on earth does materialize set selects to display none??? Must be a reason, but I've got no idea */
select {
	display: inline;
}

.hide {
	display: none;
}

#map {
    width: 100%;
    height: 400px;
    background-color: #CCC;
  }