/* global styles */
/* why on earth does materialize set selects to display none??? Must be a reason, but I've got no idea */
select {
	display: inline;
}

.hide {
	display: none;
}

#map {
    width: 100%;
    height: 400px;
    background-color: #CCC;
  }
/* footer */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Nav */
.plydt-logo {
	width: 100px;
	height: 60px;
}

.light-pink {
	color: #ee6e73;
}

/* Venue Modal */
#venue-modal {
	color: #ee6e73;
}

	#venue-modal h6 {
		font-style: italic;
	}

	#comment-display {
		height: 150px;
		color: #fff;
		background: #ee6e73;
	}

	.comment-inputs {
		width: 100%;
	}

	.comment-inputs input[type="text"] {
		width: 60%;
		float: left;
		color: #fff;
		background: #FAB6B9;
	}

	.btn {
		height: 42px;
	}


	/* comment input */
	.input-group {
		padding-top: 12px;
	}

		.footer input[type="text"] {
			margin-right: -3px;
			padding: .5em 1em;
			border: none;
			border-radius: 0;
			color: #999;
			background: #222;
		}

		.footer input[type="text"]:focus, .footer input[type="text"]:active {
			outline: none;
			box-shadow: none;
			background: #1f1f1f;
		}