/* global styles */
/* why on earth does materialize set selects to display none??? Must be a reason, but I've got no idea */
select {
	display: inline;
	margin-bottom: 10px;
	border-radius: 0;
	border: none;
	background: #FAB6B9;
}

select:focus {
	outline: none;
	border: none;
}

input[type="text"]:valid {
	box-shadow: 0 1px 0 0 #26a69a;
}

.hide {
	display: none;
}

.bold {
	font-weight: bold;
}

.fake-link {
	cursor: pointer;
	color: #26a69a;
}

#map {
    width: 100%;
    height: 400px;
    background-color: #CCC;
  }

/* Nav */
.plydt-logo {
	width: 100px;
	height: 60px;
}

.light-pink {
	color: #ee6e73;
}


/* user inputs */
#user-inputs {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #ee6e73;
}

	.input-field label, label {
		padding-bottom: 5px;
		color: #fff;
	}

	#user-inputs input[type="text"], #user-inputs input[type="number"] {
		padding-left: .5em;
		border: none;
		background: #FAB6B9;
	}

	.button-space {
		margin-top: 20px;
	}

	#location-pin {
		padding-top: 20px;
		font-family: 'Lobster', cursive;
		color: #fff;
	}

	#cancel {
		position: absolute;
		top: -25px;
		right: 20px;
		color: #FAB6B9;
		font-size: 2em;
		font-family: 'Lobster', cursive;
		cursor: pointer;
	}


/* Venue Modal */
#venue-modal {
	color: #ee6e73;
}
	.pin-button{
		margin: 20px 0;
	}
	#venue-modal h5 {
		font-family: 'Lobster', cursive;
	}

	.dynamic-ul {
		padding: 0 0 15px 10px;
	}

	#comment-display {
		height: 150px;
		padding: 1px 1em;
		color: #fff;
		background: #ee6e73;
	}

		#comment-display p {
			margin-bottom: -15px;
		}

	.comment-inputs {
		width: 100%;
	}

	.comment-inputs input[type="text"] {
		width: 55%;
		float: left;
		padding-left: .5em;
		border: none;
		color: #fff;
		background: #FAB6B9;
	}

	.comment-inputs input[type="text"]:focus {
		border: none;
		box-shadow: none;
		background: #FC9FA3;
	}

	/* placeholder text styles */
	::-webkit-input-placeholder, .comment-inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #ee6e73;
	}
	::-moz-placeholder, .comment-inputs::-moz-input-placeholder { /* Firefox 19+ */
	  color: #ee6e73;
	}
	:-ms-input-placeholder, .comment-inputs::-ms-input-placeholder { /* IE 10+ */
	  color: #ee6e73;
	}
	:-moz-placeholder, .comment-inputs:-moz-input-placeholder { /* Firefox 18- */
	  color: #ee6e73;
	}

	.comment-inputs .btn {
		height: 42px;
	}


	/* comment input */
	.input-group {
		padding-top: 12px;
	}

/* footer */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #EE6E73;
}

#copywritediv{
	text-align: left;
	color: white;
}
#footerimg{
	padding: 0px;
}

/* introduction screen */
.introduction{
	background-color: #EE6E73;
	text-align: center;
}
.introduction h4{
	font-family: 'Lobster', cursive;
}

/* login button */
#loginbutton{
    background-color: #ee6e73;
}

/* introduction modal */
.lobsterfont{
	font-family: 'Lobster', cursive;
}